.footer {
    background-color: rgb(247, 249, 250)
}

.textFooter {
    font-size: 0.8em;
    color: #3D3A38;
}

.aqua {
    color: #04df6c;
}

.socialIcon {

    font-size: 0.8em;
}

.socialIcon:hover {

    cursor: pointer;
}