.duck {
    background-image: url(../assets/banner-image.png);
    min-height: 450px;
    background-size: cover;
    background-position: center;
}

.yellowBg {
    background-image: url(../assets/banner-bg.png);
    background-size: cover;
    min-height: 450px;
    background-position: center;
}

.blueduck {
    max-width: 250px;
    padding-right: 15px;

}

.paragrafi {
    font-size: 0.8rem;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}